h2{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
h4{
    margin: 1 auto;
    text-align: center;
}
input{
    width: 250px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

div{
    overflow: scroll;
}
    
img{
    display: inline-block; 
    width: 500px;
    height: 400px;
}